<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class="about-us-box">

        <%# <div class="about-us-arrow">
            <span class="arrow"></span>
        </div> %>

        <div class="about-us-content">
          <div class="about-us-text">
            <h2>About CSA</h2>
            <p>
              CSA (Computer Science Association) is dedicated to fostering a community of passionate students in the field of Computer Science. We aim to provide opportunities for students to enhance their knowledge, develop new skills, and collaborate on exciting projects and events.
            </p>
            <p>
              Our mission is to organize events, workshops, and hackathons to inspire innovation and learning within the computer science community.
            </p>
          </div>
          <div class="about-us-images">
            <div class="carousel">
              <button class="carousel-button prev" onclick="changeImages(-1)">&#10094;</button>
              <div class="image-container">
                <img src="/BG.jpg" alt="CSA Event" class="carousel-image">
                <img src="/logo.jpeg" alt="CSA Community" class="carousel-image">
                <img src="/BG2.jpeg" alt="CSA Workshop" class="carousel-image">
              </div>
              <button class="carousel-button next" onclick="changeImages(1)">&#10095;</button>
            </div>
          </div>
        </div>

        <div class="team-heading">
            <h3>Our Team</h3>
        </div>


        <div class="team-carousel">
            <button class="carousel-btn prev" onclick="changeTeamSlide(-1)">&#10094;</button>
            <div class="carousel-slides">
                <div class="team-section">
                    <h4>Secretaries</h4>
                    <div class="team-row">
                        <div class="team-card">
                            <img src="/Shaun.jpg" alt="Person 1">
                            <h5>Shaun</h5>
                            <p><i class="fas fa-phone fa-flip-horizontal"></i> +123-456-7890</p>
                        </div>
                        <div class="team-card">
                            <img src="/Karthikeya.jpg" alt="Person 2">
                            <h5>Karthikeya</h5>
                            <p><i class="fas fa-phone fa-flip-horizontal"></i> +987-654-3210</p>
                        </div>
                    </div>
                </div>
                <div class="team-section">
                    <h4>WebOps</h4>
                    <div class="team-row">
                        <div class="team-card">
                            <img src="/Imthiyash.jpg" alt="Person 1">
                            <h5>Imthiyash</h5>
                            <p><i class="fas fa-phone fa-flip-horizontal"></i> +123-456-7890</p>
                        </div>
                        <div class="team-card">
                            <img src="/Puneeth.jpg" alt="Person 2">
                            <h5>Puneeth</h5>
                            <p><i class="fas fa-phone fa-flip-horizontal"></i> +987-654-3210</p>
                        </div>
                    </div>
                </div>
                <div class="team-section">
                    <h4>Events</h4>
                    <div class="team-row">
                        <div class="team-card">
                            <img src="/Meghana.jpg" alt="Person 3">
                            <h5>Meghana</h5>
                            <p><i class="fas fa-phone fa-flip-horizontal"></i> +111-222-3333</p>
                        </div>
                        <div class="team-card">
                            <img src="/Ujjayan.jpg" alt="Person 4">
                            <h5>Ujjayan</h5>
                            <p><i class="fas fa-phone fa-flip-horizontal"></i> +444-555-6666</p>
                        </div>
                    </div>
                </div>
                <div class="team-section">
                    <h4>Media and Design</h4>
                    <div class="team-row">
                        <div class="team-card">
                            <img src="/Sushanth.jpg" alt="Person 5">
                            <h5>Sushanth</h5>
                            <p><i class="fas fa-phone fa-flip-horizontal"></i> +777-888-9999</p>
                        </div>
                        <div class="team-card">
                            <img src="/path/to/image6.jpg" alt="Person 6">
                            <h5>Himakar</h5>
                            <p><i class="fas fa-phone fa-flip-horizontal"></i> +000-111-2222</p>
                        </div>
                    </div>
                </div>
                <div class="team-section">
                    <h4>Spons</h4>
                    <div class="team-row">
                        <div class="team-card">
                            <img src="/Vaishnavi.jpg" alt="Person 5">
                            <h5>Vaishnavi</h5>
                            <p><i class="fas fa-phone fa-flip-horizontal"></i> +777-888-9999</p>
                        </div>
                        <div class="team-card">
                            <img src="/Chaturya.jpg" alt="Person 6">
                            <h5>Chaturya</h5>
                            <p><i class="fas fa-phone fa-flip-horizontal"></i> +000-111-2222</p>
                        </div>
                    </div>
                </div>
                <div class="team-section">
                    <h4>Finance</h4>
                    <div class="team-row">
                        <div class="team-card">
                            <img src="/Niharika.jpg" alt="Person 5">
                            <h5>Niharika</h5>
                            <p><i class="fas fa-phone fa-flip-horizontal"></i> +777-888-9999</p>
                        </div>
                    </div>
                </div>
                <div class="team-section">
                    <h4>Alumni Relations</h4>
                    <div class="team-row">
                        <div class="team-card">
                            <img src="/Yashwanth.jpg" alt="Person 5">
                            <h5>Yashwanth</h5>
                            <p><i class="fas fa-phone fa-flip-horizontal"></i> +777-888-9999</p>
                        </div>
                    </div>
                </div>
            </div>
            <button class="carousel-btn next" onclick="changeTeamSlide(1)">&#10095;</button>
        </div>



    </div>


    <script>

        let currentImage = 0;

        function changeImages(direction) {
            const Images = document.querySelector(".image-container");
            const totalImages = Images.children.length;

            currentImage = (currentImage + direction + totalImages) % totalImages;

            Images.style.transform = `translateX(-${currentImage * 100}%)`;
        }

        setInterval(() => {
            changeImages(1);
        }, 3000);


        let currentSlide = 0;
        let autoSlide; // Declare autoSlide in the global scope

        function changeTeamSlide(direction) {
            const slides = document.querySelector(".carousel-slides");
            const totalSlides = slides.children.length;

            currentSlide = (currentSlide + direction + totalSlides) % totalSlides;

            slides.style.transform = `translateX(-${currentSlide * 100}%)`;
        }

        function startAutoSlide() {
            autoSlide = setInterval(() => {
                changeTeamSlide(1);
            }, 3000);
        }

        function stopAutoSlide() {
            clearInterval(autoSlide);
        }

        startAutoSlide();

        const carousel = document.querySelector(".carousel-slides");

        carousel.addEventListener("mouseenter", stopAutoSlide);
        carousel.addEventListener("mouseleave", startAutoSlide);


    </script>
</body>
</html>
