<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<div class="flex-row-center-center">
    <div class="profile_box flex-col-center-center" style="font-family:Roboto;">
        <div class="flex-row-center-center details_box">
            <div>
                <h3><%= "Welcome to your profile"%></h3>
            </div>
        </div>
        <hr class="border border-secondary border-2 opacity-50">
        <div class="flex-row-space-evenly-center posessed_details_box">
            <div class="flex-col-center-center event_details_box">
                <div><h5 style="text-decoration:underline">Here's your registered events</h5></div>
                <% if @events_registered.present? %>
                    <% @events_registered.each do |reg| %>
                        <div class="flex-row-center-center"><%= reg.event_name %>, <%= reg.team_name %> </div>
                    <% end %>
                <% else %>
                    <div class="flex-row-center-center"> No registrations yet </div>
                <% end %>
            </div>
            <div class="flex-col-center-center merch_details_box">
                <div><h5 style="text-decoration:underline">Here's your purchased Merch</h5></div>
                <% if @merch_purchased.present? %>
                    <% @merch_purchased.each do |item| %>
                        <div class="flex-row-center-center"><%= item.product.name %></div>
                    <% end %>
                <% else %>
                    <div class="flex-row-center-center">No purchases yet</div>
                <% end %>
            </div>
        </div>
    </div>
</div>