/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* .Navigation_bar{
    background-color: black;
} */

.Navigation_bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px 10px 10px;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black for contrast */
    color: white;
}

.Brand{
    color: white;
    font-weight: bold;
    font-size: 70px;
    padding-left: 40px;
    font-family: Roboto;
    transition: color 1s ease;
}

.Brand:hover{
    color: #FFD700;
}

.nav_link {
    font-size: x-large;
    padding : 5px 20px;
    font-family: Roboto;
    color: white;
    text-decoration: none;
    border-radius: 10px;
    border-bottom: 3px solid transparent;
    transition: color 0.3s ease;
    transition: font-size 0.3s ease;
    transition: border-color 0.6s ease-in;
    transition: background-color 0.6s ease-in;
}

.nav_link:hover{
    text-decoration: none;
    color: black;
    /* font-size: xx-large; */
    background-color: rgba(255, 255, 255, 2);
    /* color: rgb(217, 242, 242); */
    border-color: rgb(0, 0, 0);
}

.flex-row-start-center{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    width:max-content;
}

.flex-row-start-between{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width:max-content;
}

.flex-row-start-center > *{
    padding: 10px 40px 10px 40px;
    color: white;
    font-size: large;
    /* background-color: black; */
}
